// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letter-list li {
  list-style: none;
  text-align: center;
  float: left;
  padding: 30px;
  margin: 20px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}
